:root {
    /* --sl-content-width: 40rem;
    --sl-text-5xl: 3.5rem; */

}

/* Dark mode colors. */
:root {
    --sl-color-accent-low: #fced8c;
    --sl-color-accent: #F0DB4F;
    --sl-color-accent-high: #fedc00;
    --sl-color-white: #f6f6f6;
    --sl-color-gray-1: #e7e7e7;
    --sl-color-gray-2: #c8c8c8;
    --sl-color-gray-3: #d1d1d1;
    --sl-color-gray-4: #3d3d3d;
    --sl-color-gray-5: #3838388d;
    --sl-color-gray-6: #242424;
    --sl-color-black: #111111;
}

/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent-low: #f8a369;
    --sl-color-accent: #d35400;
    --sl-color-accent-high: #803401;
    --sl-color-white: #111111;
    --sl-color-gray-1: #242424;
    --sl-color-gray-2: #3d3d3d;
    --sl-color-gray-3: #585858;
    --sl-color-gray-4: #888888;
    --sl-color-gray-5: #b0b0b0;
    --sl-color-gray-6: #d1d1d1;
    --sl-color-gray-7: #e7e7e7;
    --sl-color-black: #f6f6f6;
}


:where(.astro-3ii7xxms)[aria-current=page],
:where(.astro-3ii7xxms)[aria-current=page]:hover,
:where(.astro-3ii7xxms)[aria-current=page]:focus {
    color: var(--sl-color-gray-1);
    background-color: var(--sl-color-gray-5);
    border-left: 2px solid var(--sl-color-accent);
}

@media (min-width: 72rem) {
    .right-sidebar:where(.astro-67yu43on){
        width: auto;
        right: 0;
    }
}

.content-panel:where(.astro-7nkwcw3z) + .content-panel:where(.astro-7nkwcw3z){
    border-top: none;
}

.site-title:where(.astro-m46x6ez3){
    gap: 10px;
    font-weight: 700;
    font-size: 27px;
}

a:where(.astro-wy4te6ga){
    color: var(--sl-color-gray-1);
}

svg:where(.astro-c6vsoqas){
}